{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main" data-aos="fade-in">

<!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">


          {% for usuario in monitores %}

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ usuario.photo.thumb.url }}" class="img-fluid" alt="">
              <div class="member-content">
                <h4><a href="{% url 'monitores-detail' usuario.pk %}">{{ usuario.username }}</a></h4>
                <span>{{ usuario.registration }}</span>
                <p>
                  {{ usuario.about }}
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}


        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

{% endblock %}