{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<br><br><br><br><br>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Deletar</h2>
        </div>

        <br><br><br><br><br><br>

        <div class="row">
            <div class="col-lg-4 mt-4 mt-md-0 offset-md-4">

                <form method="post" action="" enctype="multipart/form-data">

                    {% csrf_token %}

                    <center>
                    Deseja realmente deletar sua conta?
                    </center>

                    <br>

                    <center>
                    <button type="submit" class="btn btn-success">Sim</button>
                    <a class="btn btn-success" href="{% url 'monitores-detail' user.pk %}" role="button" style="color: #FFFFFF;">Não</a>
                    </center>

                    <div class="mb-3">
                        <div class="error-message">
                            {% if form.errors %}
                                Your username and password didn't match. Please try again.
                            {% endif %}

                            {% if next %}
                                {% if user.is_authenticated %}
                                    Your account doesn't have access to this page. To proceed, please login with an account that has access.
                                {% else %}
                                    Please login to see this page.
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

</section><!-- End Contact Section -->
<br><br><br><br><br>
{% endblock %}