{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main" data-aos="fade-in">

<!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ monitor.photo.thumb.url }}" class="img-fluid" alt="">
              <div class="member-content">
                <h4><a href="{% url 'monitores-detail' monitor.pk %}">{{ monitor.username }}</a></h4>
                <span>{{ monitor.registration }}</span>
                <p>
                  {{ monitor.about }}
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>

                  {% if request.user == monitor %}
                  <a class="btn btn-success" href="{% url 'monitores-update' monitor.pk %}" role="button" style="color: #FFFFFF;">Editar</a>
                  <a class="btn btn-danger" href="{% url 'monitores-delete' monitor.pk %}" role="button" style="color: #FFFFFF;">Delete</a>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

{% endblock %}