{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br><br><br><br><br><br>

<section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">

                <h3><a href="{% url 'requests-detail' request.pk %}">Disciplina: {{ request.teacher.subject.name }}</a></h3>
                <br>
                <p>{{ request.comment }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ request.teacher.photo.thumb.url }}" class="img-fluid" alt="">
                    <span> {{ request.teacher }} </span>

                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a class="btn btn-success" href="{% url 'requests-update' request.pk %}" role="button" style="color: #FFFFFF;">Editar</a>
                      <a class="btn btn-danger" href="{% url 'requests-delete' request.pk %}" role="button" style="color: #FFFFFF;">Delete</a>

                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <br><br>


        </div>

      </div>
    </section><!-- End Courses Section -->

<br><br><br><br><br><br><br>

{% endblock %}
