{% extends 'base.html' %}
{% load static %}
{% block content %}


    {% if request.user.subject is not None %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Pedidos</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    {% else %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Seus Pedidos</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    {% endif %}

    <br><br>

    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

          {% if request.user.subject is not None %}

        {% for request in requests_monitor %}
        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">

                <h3><a href="{% url 'requests-detail' request.pk %}">Disciplina: {{ request.teacher.subject.name }}</a></h3>
                <br>
                <p>{{ request.comment|truncatechars:35 }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ request.requisitioner.photo.thumb.url }}" class="img-fluid" alt="">
                    <span> {{ request.requisitioner }} </span>

                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a class="btn btn-danger" href="{% url 'requests-delete' request.pk %}" role="button" style="color: #FFFFFF;">Delete</a>

                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <br><br><br>

          {% endfor %}

                {% for request in requests_aluno %}
        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">

                <h3><a href="{% url 'requests-detail' request.pk %}">Disciplina: {{ request.teacher.subject.name }}</a></h3>
                <br>
                <p>{{ request.comment|truncatechars:35 }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ request.teacher.photo.thumb.url }}" class="img-fluid" alt="">
                    <span> {{ request.teacher }} </span>

                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a class="btn btn-success" href="{% url 'requests-update' request.pk %}" role="button" style="color: #FFFFFF;">Editar</a>
                      &nbsp;&nbsp;
                      <a class="btn btn-danger" href="{% url 'requests-delete' request.pk %}" role="button" style="color: #FFFFFF;">Delete</a>

                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <br><br><br>

          {% endfor %}

          {% else %}

          {% for request in requests_aluno %}
        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">

                <h3><a href="{% url 'requests-detail' request.pk %}">Disciplina: {{ request.teacher.subject.name }}</a></h3>
                <br>
                <p>{{ request.comment|truncatechars:35 }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ request.teacher.photo.thumb.url }}" class="img-fluid" alt="">
                    <span> {{ request.teacher }} </span>

                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a class="btn btn-success" href="{% url 'requests-update' request.pk %}" role="button" style="color: #FFFFFF;">Editar</a>
                      &nbsp;&nbsp;
                      <a class="btn btn-danger" href="{% url 'requests-delete' request.pk %}" role="button" style="color: #FFFFFF;">Delete</a>

                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <br><br><br>

          {% endfor %}

          {% endif %}


        </div>

      </div>
    </section><!-- End Courses Section -->

{% endblock %}
