{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Seja bem vindo!<br>Pronto para os estudos?</h1>
      <h2>O Monitora IF é o lugar certo para alunos e monitores.</h2>
      <a href="courses.html" class="btn-get-started">Cadastre-se</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre</h2>
          <p>Sobre nós</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"><br><br><br><br>
            <h3>O Monitora IF tem como objetivo facilitar a comunicação entre os alunos e os monitores, dessa forma, agilizando o trabalho dos monitores e a busca por parte dos alunos.</h3><br><br><br><br>

            <a href="about.html" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

{% endblock %}
